# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [40]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

# C:\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio
baltimore_df=pd.read_csv('c:/launchcode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/baltimore_9-24-2016_9-30-2017.csv')
boston_df=pd.read_csv('c:/launchcode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/boston_9-24-2016_9-30-2017.csv')
newyork_df=pd.read_csv('c:/launchcode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/new-york_9-24-2016_9-30-2017.csv')
philly_df=pd.read_csv('c:/launchcode/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [41]:
# Clean your data here!
# print('Baltimore')
# for col in baltimore_df.columns:
#     pct_missing = np.mean(baltimore_df[col].isnull())
#     display('{} - {}%'.format(col, round(pct_missing*100)))

# print('Boston')
# for col in boston_df.columns:
#     pct_missing = np.mean(boston_df[col].isnull())
#     display('{} - {}%'.format(col, round(pct_missing*100)))
# print('New York')
# for col in newyork_df.columns:
#     pct_missing = np.mean(newyork_df[col].isnull())
#     display('{} - {}%'.format(col, round(pct_missing*100)))
# print('Philly')
# for col in philly_df.columns:
#     pct_missing = np.mean(philly_df[col].isnull())
#     display('{} - {}%'.format(col, round(pct_missing*100)))

baltimore_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'],inplace=True)
boston_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'],inplace=True)
newyork_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'],inplace=True)
philly_df.drop(columns=['Type', 'Grade','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'],inplace=True)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [42]:
# Combine the four dataframes into one!

data=pd.concat([baltimore_df,boston_df,newyork_df,philly_df],axis=0)

display(data)

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,NaN,09/30/2017,18,18.0,18,18.0,MARYLAND,NaN,NaN,ORANGE,NaN,N
149,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,NaN,09/30/2017,18,18.0,18,18.0,PENNSYLVANIA,NaN,NaN,ORANGE,NaN,N
150,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,09/24/2016,15,15.0,15,15.0,MARYLAND,NaN,sml,NaN,NaN,N
151,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/01/2016,15,15.0,15,15.0,MARYLAND,NaN,sml,NaN,NaN,N
152,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/08/2016,15,15.0,15,15.0,MARYLAND,NaN,sml,NaN,NaN,N

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,NaN,SHELLACKED,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [49]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
low_mean=data.groupby('Package')[('Low Price')].mean()
high_mean=data.groupby('Package')[('High Price')].mean()

print(low_mean)
print(high_mean)

Package
1 1/9 bushel cartons     15.875000
1 1/9 bushel crates      16.058824
1/2 bushel cartons       16.030928
24 inch bins            188.005618
36 inch bins            170.458861
50 lb sacks              25.111111
bushel cartons           20.571429
each                     75.000000
Name: Low Price, dtype: float64
Package
1 1/9 bushel cartons     16.739583
1 1/9 bushel crates      16.705882
1/2 bushel cartons       17.597938
24 inch bins            202.808989
36 inch bins            196.550633
50 lb sacks              25.333333
bushel cartons           22.857143
each                     80.000000
Name: High Price, dtype: float64

In [85]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
# terminal=data.groupby(["City Name"])['Variety'].count()
terminal=data.groupby(["City Name","Variety"])['Variety'].count()
# not sure how to get an average when we are assuming each row in a single count

display((terminal))

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!